# Node.js and npm
node_modules/
npm-debug.log
.npm/

# Build artifacts
dist/
build/
.parcel-cache/ # If using Parcel bundler
.cache/       # Common cache folder

# Environment variables
.env
.env.local

# Operating System files
.DS_Store # macOS
Thumbs.db # Windows
desktop.ini # Windows

# IDE files
.vscode/ # Visual Studio Code settings
.idea/   # IntelliJ IDEA
*.sublime-project
*.sublime-workspace